<template>
  <!-- eslint-disable max-len -->
  <div
    class="text-lg form-generic form-generic--alert fixed inset-0 h-full w-full flex justify-center items-center bg-teal-400 text-white"
    v-if="isLoading"
  >
    <div class="relative">
      <span class="loader"></span>
      <span
        class="absolute bottom-0 mt-4 text-center w-full block flex justify-center"
        >Enviando...</span
      >
    </div>
  </div>
  <div class="text-center form-generic form-generic--alert" v-else-if="isSent">
    <h1 class="title text-2xl md:text-4xl font-bold">¡Muchas gracias!</h1>
    <p>En breve uno de nuestros asesores se pondrá en contacto.</p>
  </div>
  <form id="the-form" v-else @submit.prevent="sendForm" class="form-generic">
    <a class="text-xl text-center mb-4 block" href="#the-form">
      Solicita tu cotización y haz tus envíos con seguridad.
    </a>
    <img class="my-6" src="./images/formulario.jpg" alt="cajas-carton" />
    <div
      class=" bg-yellow-400 rounded p-2 mb-4 text-center"
      v-if="formHasError"
    >
      <p>Hubo un error enviando tus datos, por favor intentalo de nuevo</p>
    </div>

    <label class="block label mb-1" for="basic-first-name"
      >Nombre Completo</label
    >
    <input
      id="basic-first-name"
      v-model="model.Nombre"
      name="Nombre"
      class="form-input block"
      required
      type="text"
    />
    <label class="block label mb-1" for="basic-last-name"
      >Empresa (Opcional)</label
    >
    <input
      id="basic-empresa"
      v-model="model.Empresa"
      name="Empresa"
      class="form-input block"
      required
      type="text"
    />
    <label class="block label mt-2 mb-1" for="basic-correo">Correo</label>
    <input
      id="basic-correo"
      v-model="model.Correo"
      name="email"
      class="form-input block"
      required
      type="email"
    />

    <label class="block label mt-2 mb-1" for="basic-tel">Teléfono</label>
    <input
      id="basic-tel"
      v-model="model.Teléfono"
      class="form-input block"
      name="Teléfono"
      type="tel"
      required
    />
    <div
      class="mb-2 tb:mb-0 sm:flex justify-between items-center mt-2 flex-wrap"
    >
      <label class="mr-2 block">
        <input
          id="TOS"
          v-model="TOS"
          type="checkbox"
          class="form-checkbox"
          name="TOS"
          required="true"
        />
        Acepto el
        <a href="aviso-de-privacidad.html" target="_blank">
          <b>
            Aviso de privacidad
          </b>
        </a>
      </label>
      <p class="text-center mt-4 sm:mt-0 sm:text-left">
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Enviar
        </button>
      </p>
      <img class="my-8" src="./images/cargando.jpg" alt="charging-alt" />
    </div>
  </form>
  <!-- eslint-enable max-len -->
</template>
<script>
import formMixin from './form-mixin';
/**
 * Formulario genérico
 *
 * @version 1.6
 */

export default {
  name: 'FormGeneric',
  mixins: [formMixin],
  data() {
    return {
      TOS: false,
      isSent: false,
      isLoading: false,
      formHasError: false,
      otrosModelos: false,
      model: {
        Nombre: '',
        Empresa: '',
        'E-mail': '',
        Teléfono: ''
      }
    };
  },
  methods: {
    sendForm() {
      window.scrollTo(0, 0);
      Promise.all([this.sendToSheets()])
        .then(() => {
          this.isLoading = false;
          this.isSent = true;
          console.log('Sending to analiticas');
          document.location.assign('/gracias.html');
        })
        .catch(error => {
          this.isLoading = false;
          this.formHasError = true;
          console.error(error);
          window.gtag('event', 'exception', {
            description: 'ERROR_FORM_SEND',
            fatal: true // set to true if the error is fatal
          });
        });
    },
    sendToSheets() {
      return this.formSend();
    }
  }
};
</script>

<docs>
  Este formulario es muy configurable y no suele ser necesario tener más de uno
  ## Examples Usando las opciones por defecto
  ```jsx
  <form-generic />
  ```
  ## Configurando la hoja de envío
  ```jsx
  <form-generic sheet-destiny="Demo de componente" />
  ```
</docs>

<style lang="scss" scoped>
.loader {
  color: #ffffff;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: load4 1.3s infinite linear;
  transform: translateZ(0);
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
</style>
