<template>
  <hooper
    v-if="displayComponent"
    :infiniteScroll="true"
    :autoPlay="true"
    :playSpeed="2000"
    :itemsToShow="itemsToShow"
  >
    <slide key="1">
      <div class="flex items-center justify-center p-2 h-full">
        <img
          src="./images/logo-asociado8.jpg"
          alt="logo-asociado"
          class="w-full"
        />
      </div>
    </slide>
    <slide key="2">
      <div class="flex items-center justify-center p-2 h-full">
        <img
          src="./images/logo-asociado2.jpg"
          alt="logo-asociado"
          class="w-full"
        />
      </div>
    </slide>
    <slide key="3">
      <div class="flex items-center justify-center p-2 h-full">
        <img
          src="./images/logo-asociado3.jpg"
          alt="logo-asociado"
          class="w-full"
        />
      </div>
    </slide>
    <slide>
      <div class="flex items-center justify-center p-2 h-full">
        <img
          src="./images/logo-asociado9.jpg"
          alt="logo-asociado"
          class="w-full"
        />
      </div>
    </slide>
    <slide>
      <div class="flex items-center justify-center p-2 h-full">
        <img
          src="./images/logo-asociado5.jpg"
          alt="logo-asociado"
          class="w-full"
        />
      </div>
    </slide>
    <slide>
      <div class="flex items-center justify-center p-2 h-full">
        <img
          src="./images/logo-asociado6.jpg"
          alt="logo-asociado"
          class="w-full"
        />
      </div>
    </slide>
    <slide>
      <div class="flex items-center justify-center p-2 h-full">
        <img
          src="./images/logo-asociado7.jpg"
          alt="logo-asociado"
          class="w-full"
        />
      </div>
    </slide>
  </hooper>
</template>

<script>
import { Hooper, Slide } from 'hooper';
import 'hooper/dist/hooper.css';

export default {
  name: 'InfiniteSlider',
  components: {
    Hooper,
    Slide
  },
  data() {
    return {
      displayComponent: true,
      itemsToShow: 1,
      /** @type {MediaQueryList | null} */
      mqMedium: null,
      /** @type {MediaQueryList | null} */
      mqSmall: null
    };
  },
  created() {
    this.mqSmall = window.matchMedia('(min-width: 451px)');
    this.mqMedium = window.matchMedia('(min-width: 625px)');
    this.checkMq();
    this.mqSmall.addEventListener('change', this.checkMq);
    this.mqMedium.addEventListener('change', this.checkMq);
  },
  methods: {
    checkMq(e) {
      console.log('change mq', { e }, this.mqSmall, this.mqMedium);
      const lastState = this.itemsToShow;
      this.itemsToShow = 1;
      if (this.mqSmall.matches) {
        this.itemsToShow = 2;
      }
      if (this.mqMedium.matches) {
        this.itemsToShow = 3;
      }
      if (e && lastState !== this.itemsToShow) {
        this.displayComponent = false;
        this.$nextTick(() => {
          this.displayComponent = true;
        });
      }
    }
  }
};
</script>
